<div class="advantages-wrapper">
  <ul class="advantages__list">
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        01
      </span>
      <p class="advantages__list-text">Незнання граматики</p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        02
      </span>
      <p class="advantages__list-text">
        Невміння сприймати англійську на слух
      </p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        03
      </span>
      <p class="advantages__list-text">
        Скупий словниковий запас для написання твору
      </p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        04
      </span>
      <p class="advantages__list-text">Підготовка поодинці</p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        05
      </span>
      <p class="advantages__list-text">Відсутність єдиного ресурсу знань</p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        06
      </span>
      <p class="advantages__list-text">Недостатня самоорганізація і лінь</p>
    </li>
  </ul>
</div>
