.doing {
  padding-top: 4.8rem;
  padding-bottom: 5.4rem;

  &__title {
    margin-bottom: 3.6rem;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include for-size(tablet) {
      justify-content: space-between;
    }
  }

  &__list-items {
    box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);
    padding: 3rem 2.2rem 2.6rem;
    flex-basis: 29rem;
    @include for-size(tablet) {
      flex-basis: 50%;
    }
    @include for-size(desktop) {
      flex-basis: 33%;
    }
    @media (max-width: 35em) {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
    @media (min-width: 36em) and (max-width: 79em) {
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 1.6rem;
      }
    }
    @media (min-width: 80em) {
      &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 1.6rem;
      }
    }

    &:hover,
    :focus {
      background-color: $accent-color;
      @extend %transition;
      .doing__icon {
        fill: rgb(255, 255, 255);
        @extend %transition;
      }
      .doing__subtitle,
      .doing__description {
        color: rgb(255, 255, 255);
        @extend %transition;
      }
      .doing__subtitle::after {
        background-color: rgb(255, 255, 255);
        @extend %transition;
      }
    }
  }

  &__subtitle {
    color: $h2-text;
    text-align: center;
    margin-bottom: 1.5rem;
    letter-spacing: 0.065rem;
    @include font(1.538, 1.3rem, bold);

    &::after {
      content: '';
      margin: 0px auto;
      background-color: $accent-color;
      padding-bottom: 0.2rem;
      display: block;
      width: 2.5rem;
      margin-top: 1.5rem;
    }
  }

  &__description {
    color: $additional-text;
    text-align: center;
    letter-spacing: 0.055rem;
    @include font(1.818, 1.1rem, 400);
  }

  &__icon {
    fill: $accent-color;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;

    &--program {
      width: 42px;
      height: 45px;
    }

    &--mobile-learn {
      width: 44px;
      height: 45px;
    }

    &--open-book {
      width: 50px;
      height: 36px;
    }

    &--community {
      width: 44px;
      height: 45px;
    }

    &--female-student {
      width: 39px;
      height: 45px;
    }

    &--audio-book {
      width: 50px;
      height: 43px;
    }
  }
}

.block {
  display: block;
}
