.logo {
    display: inline-block;
    width: 9rem;
    
    @include for-size(tablet) {
        order: -1;
        margin-right: 14%;
        }
    @include for-size(desktop) {
        width: 13rem;
        margin-right: 22%;
        }
    }

.footer {
    @media (max-width: 767px) {
        padding-top: 2.8rem;
        text-align: center;
        }

    &__address {
        font-style: normal;

        @media (max-width: 767px) {
            margin-bottom: 0.8rem;
            }
        @include for-size(tablet) {
            min-height: 12rem;
            @include flex-center(start, center);
            }
        @include for-size(desktop) {
            min-height: 14.8rem;
            }
        }
    
    &__tel {
        @include font(37.5/18, 1.8rem, 600);
        font-style: normal;
        color: $h2-text;
        letter-spacing: .09rem;
        
        @media (max-width: 767px) {
            display: block; 
            margin-bottom: 2rem;
        }

        @include for-size(tablet) {
            border-right: 1px solid #e0e0e0;
            @include font(37.5/20, 2rem, 600);
            letter-spacing: .1rem;
            margin-right: 3.2rem;
            padding-right: 3.2rem;
            }
        @include for-size(desktop) {
            @include font(37.5/27, 2.7rem, 700);
            letter-spacing: .135rem;
            }
                
        &-icon {
            width: 2.4rem;
            height: 2.4rem;
            fill: #000;
            @extend %transition;
            margin-bottom: -8px;

            @include for-size(desktop) {
                width: 3.4rem;
                height: 3.4rem;
                margin-bottom: -10px;
            }
        }
        &:focus,
        &:hover {
            .footer__tel-icon {
                fill: $accent-color;
                }
            }
    }

    &__social-link {
        display: block;
        
        @media (max-width: 767px) {
            margin: 0 auto;
            margin-bottom: 2rem;
        }
    }

    &__copy {
        background-color: $h2-text;
        padding: 1.6rem 0;
        min-height: 7.2rem;
                
        &-text {
        @include font(37.5/11, 1.1rem, 500);
        color: rgba(253, 254, 254, 0.42);
        letter-spacing: .055rem;
        
        @include for-size(desktop) {
            @include font(37.5/15, 1.5rem, 500);
            letter-spacing: .075rem;
            }
        }
    }
}