@import './components/system-slider.scss';
@import 'minireset';
@import 'normalize.scss';
@import 'fonts';
@import 'vars.scss';
@import 'mixins.scss';
@import './components/container.scss';
@import './components/btn-action.scss';
@import './components/slider.scss';
@import './components/title-section.scss';

:root {
  font-size: 62.5%;
}

//убираем верхний марджин h1, прописанный в нормалайзе
h1 {
  margin-top: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  @include font(20/11, 1.1rem, 400);
  color: $main-text;
  background-color: #fff;
}

@import 'header';
@import 'main-problems-section';
@import 'doing-section.scss';
@import 'program-section';
@import 'footer';
@import './components/logo.scss';
