@import './components/advantages.scss';

.main-problems-section {
  height: 51.8rem;
  background-color: $h2-text;

  @include for-size(tablet) {
    height: 33.3rem;
  }
}

.main-problems__container {
  padding-top: 5rem;
}

.main-problems__title {
  max-width: 85%;
  color: $primary-white;
  @include font(1.5, 2rem, 800);

  @include for-size(tablet) {
    @include font(33/26, 2.6rem, 800);
    max-width: 65%;
  }
}

.main-problems__title-span {
  color: $accent-color;
}

.main-problems__list-wrapper {
  position: relative;
  max-width: 100%;
  top: 2rem;
}
