@import 'minireset';
@import 'normalize.scss';
@import 'fonts';
@import 'vars.scss';
@import 'mixins.scss';
@import './components/container.scss';

:root {
  font-size: 62.5%;
}

//убираем верхний марджин h1, прописанный в нормалайзе
h1 {
  margin-top: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  @include font(20/11, 1.1rem, 400);
  color: $main-text;
  background-color: #fff;
}

@import 'header';
@import './sections/doing-section.scss';
@import 'footer';
