@mixin retina($x) {
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: $x),
    (min-width: 768px) and (min-resolution: 96dpi*$x) {
    @content;
  }
}

@mixin for-size($size) {
  //>576px
  @if $size==phone-only {
    @media (min-width: 36em) {
      @content;
    }
  }

  //>768px
  @else if $size==tablet {
    @media (min-width: 48em) {
      @content;
    }
  }

  //>992px
  @else if $size==tablet-landscape {
    @media (min-width: 62em) {
      @content;
    }
  }

  //>1280px
  @else if $size==desktop {
    @media (min-width: 80em) {
      @content;
    }
  }
  //>1680px
  @else if $size==large-desktop {
    @media (min-width: 105em) {
      @content;
    }
  }
}

@mixin font($lineheight, $fontsize, $fontweight) {
  line-height: $lineheight;
  font-size: $fontsize;
  font-weight: $fontweight;
}

//vertical centering any element
@mixin vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//fast import of the fonts
@mixin font-face($name, $file) {
  @font-face {
    font-family: '#{$name}';
    src: url('../fonts/#{$file}.eot');
    src: url('../fonts/#{$file}.eot?#iefix') format('embedded-opentype'),
      url('../fonts/#{$file}.woff') format('woff'),
      url('../fonts/#{$file}.ttf') format('truetype'),
      url('../fonts/#{$file}.svg?#webfont') format('svg');
  }
}

//absolute positioning
@mixin abs-position($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

//arrows
@mixin arrow($direction: down, $size: 5px, $color: #555) {
  width: 0;
  height: 0;

  @if ($direction==left) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  } @else if ($direction==right) {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  } @else if ($direction==down) {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  } @else {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
}

//flex center
@mixin flex-center($justify: center, $align: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

%transition {
  transition: all 0.3s ease-in-out;
}
