.program-section {
  padding-top: 5.3rem;
  padding-bottom: 44rem;
  background-color: #111517;
  background-image: url(../images/program/bcg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: right -10rem bottom 34.5rem;
  @include retina(2) {
    background-image: url(../images/program/bcg-mobile@2x.jpg);
  }
  // .program-section__title

  &__title {
    @include font(33/20, 2rem, 800);
    color: #ffffff;
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: 1px;
  }

  // .program-section__list

  &__list {
    max-width: 16rem;
    width: 100%;
    padding-left: 3rem;
    margin: 0 auto;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: 92%;
      width: 0.2rem;
      background-color: #546264;
      left: 0.2rem;
      top: 1rem;
    }
  }

  //   // .program-section__list-item

  &__list-item {
    margin-bottom: 3.5rem;
  }

  //   // .program-section__list-item-title

  &__list-item-title {
    color: #ffffff;
    text-transform: uppercase;
    @include font(30/15, 1.5rem, 700);
    letter-spacing: 1.65px;
    margin-bottom: 2.2rem;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: $accent-color;
      left: -3.2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
// .program {
//   // .program__list-item--secondary-list

//   &__list-item--secondary-list {
//   }
// }
.secondary-list {
  //   // .secondary-list__item

  &__item {
    margin-bottom: 2rem;
    span {
      display: block;
    }
  }

  //   // .secondary-list__item--title

  &__item-title {
    color: $accent-color;
    padding-left: 4rem;
    @include font(30/14, 1.4rem, 500);
    position: relative;
    margin-bottom: 1.5rem;
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      width: 2.5rem;
      height: 0.2rem;
      background-color: $accent-color;
    }
  }

  //   // .secondary-list__item--description

  &__item-description {
    color: $additional-text;
    @include font(20/11, 1.1rem, 400);
    letter-spacing: 0.55px;
  }
}

@include for-size(tablet) {
  .program-section {
    padding-top: 5.5rem;
    padding-bottom: 36rem;
    background-image: url(../images/program/bcg-tablet.jpg);
    background-size: 40.7rem 28.2rem;
    background-position: right 2rem bottom 31.5rem;
    @include retina(2) {
      background-image: url(../images/program/bcg-tablet@2x.jpg);
    }

    &__title {
      text-align: left;
      @include font(63/26, 2.6rem, 800);
    }

    &__list {
      max-width: 58rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;
      margin-left: 9rem;
      &::before {
        height: 84%;
      }
    }
  }
  .program__list-item--secondary-list {
    display: flex;
  }
  .secondary-list {
    &__item {
      max-width: 15rem;
      width: 100%;
      margin-right: 3rem;
    }
  }
  .secondary-list__item {
    margin-bottom: 0;
  }
}

@include for-size(desktop) {
  .program-section {
    position: relative;
    padding-top: 7rem;
    padding-bottom: 51rem;
    background-image: url(../images/program/bcg-desktop.jpg);
    background-size: 70rem 48.5rem;
    background-position: left -8rem bottom 30.5rem;
    &::before {
      content: '';
      position: absolute;
      height: 0.2rem;
      width: 100%;
      background-color: #546264;
      left: 0;
      top: 18rem;
    }
    @include retina(2) {
      background-image: url(../images/program/bcg-desktop@2x.jpg);
    }
    &__title {
      @include font(63/42, 4.2rem, 800);
      margin-bottom: 9rem;
    }
    &__list {
      padding-left: 0;
      flex-direction: row;
      max-width: 100%;
      justify-content: space-between;
      margin: 0;
      &::before {
        display: none;
      }
    }
    &__list-item-title {
      @include font(29/19, 1.9rem, 700);
      letter-spacing: 2px;
      &::before {
        width: 1.7rem;
        height: 1.7rem;
        left: -0.2rem;
        top: -4rem;
        transition: all 0.3 ease-in-out;
      }
    }
  }
  .secondary-list {
    &__item {
      margin-bottom: 3.5rem;
    }
    &__item-title {
      @include font(29/18, 1.8rem, 500);
      letter-spacing: 0.9px;
    }
    &__item-description {
      @include font(29/15, 1.5rem, 400);
      letter-spacing: 0.75px;
    }
  }
  .program__list-item--secondary-list {
    display: flex;
    flex-direction: column;
  }
}
