<div class="advantages-wrapper">
  <ul class="advantages__list">
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        01
      </span>
      <p class="advantages__list-text">Незнание грамматики</p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        02
      </span>
      <p class="advantages__list-text">
        Неумение воспринимать устную английскую речь
      </p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        03
      </span>
      <p class="advantages__list-text">
        Скупой словарный запас для написания сочинения
      </p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        04
      </span>
      <p class="advantages__list-text">Подготовка в одиночку</p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        05
      </span>
      <p class="advantages__list-text">Отсутствие единого ресурса знаний</p>
    </li>
    <li class="advantages__list-item">
      <span class="advantages__list-item-number">
        06
      </span>
      <p class="advantages__list-text">Недостаток самоорганизации и лень</p>
    </li>
  </ul>
</div>
