<nav class="header__menu">
  <ul class="header__list">
    <li class="header__list-item">
      <a href="#program" class="header__link burger__item-link"
        >Программа обучения</a
      >
    </li>
    <li class="header__list-item">
      <a href="#about" class="header__link burger__item-link">О нас</a>
    </li>
    <li class="header__list-item">
      <a href="#doing" class="header__link burger__item-link"
        >Варианты обучения</a
      >
    </li>
    <li class="header__list-item">
      <a href="#contacts" class="header__link burger__item-link">Контакты</a>
    </li>
    <li class="header__list-item">
      <a href="#form" class="link-action burger__item-link overlay-link">
        консультация по телефону
      </a>
    </li>
  </ul>
</nav>
