<div id="certificate" class="popup">
  <div class="popup__body">
    <div class="popup__content popup__content--image">
      <a href="#" class="popup__close close-popup">
        <svg class="close__icon">
          <use href="./images/icons/close.svg#icon-close"></use>
        </svg>
      </a>
      <div class="popup__image">
        <img
          src="./images/teacher/certificate.jpg"
          alt="certificate"
          class="certificate-modal__img"
        />
      </div>
    </div>
  </div>
</div>
