<div id="thanks" class="popup">
    <div class="popup__body">
      <div class="popup__content">
        <a href="#" class="popup__close close-popup">
          <svg class="close__icon">
            <use href="./images/icons/close.svg#icon-close"></use>
          </svg>
        </a>
        <h4 class="main-form__title">
          <span class="main-form__accent">Спасибо!</span>
          <p>Твоя заявка принята.</p>
        </h4>
        <p class="main-form__description">
          Ожидай звонка от консультанта в рабочее время. 
          Специально обученный человек ответит
          <span class="main-form__accent">на все твои вопросы.</span>
          <span class="main-form__description--second"></span>
        </p>

        <img
          class="teacher__img--default"
          src="./images/teacher/teacher-mobile.jpg"
          alt="Елена Морева"/>

        <p class="main-form__description--second">
          А пока подпишись на нашу 
          <span class="main-form__accent">страничку в Instagram</span>,
          чтобы быть в курсе последних новостей 
        </p>

        <a href="#" class="footer__social-link link__not-active">
            <span class="visually-hidden">instagram-icon</span>
            <img
              src="./images/icons/instagram.svg"
              alt="instagram"
              height="37"
              width="37"
            />
        </a>

        <a href="#" class="logo link__not-active">
          <p class="logo__name-site">
            Hell<span class="logo__icon"></span></span
            >EN
          </p>
          <span class="logo__slogan logo__slogan--orange">Адский </span
          ><span class="logo__slogan">английский</span>
        </a>
        
      </div>
    </div>
  </div>