.advantages-wrapper {
  box-shadow: 4px 7px 16px 6px rgba(29, 29, 27, 0.04);
}

.advantages__list {
  background-color: $primary-white;
  padding: 2.3rem 2.4rem 3.4rem 2.8rem;
  @include flex-center(flex-start, flex-start);
  flex-wrap: wrap;
  flex: 0 0 100%;

  @include for-size(tablet) {
    padding: 3.8rem 7.6rem 4.4rem 10.8rem;
  }
}

.advantages__list-item {
  color: $main-text;
  @include font(20/13, 1.3rem, 700);
  letter-spacing: 0.65px;

  @media screen and (max-width: 47.94em) {
    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
  }

  @include for-size(tablet) {
    position: relative;
    flex: 0 0 50%;
    @include flex-center(center, flex-start);
    flex-direction: column;
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 2rem;
    }
  }
}

.advantages__list-item-number {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 1rem;
  color: $accent-color;

  &::before {
    content: '';
    width: 2.6rem;
    height: 0.2rem;
    background-color: $accent-color;
    position: absolute;
    top: 0.8rem;
    left: 0;
  }
}

.advantages__list-text {
  @include for-size(tablet) {
    max-width: 85%;
  }
}
