.btn-action {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.8rem 1rem;
  @include font(11/11, 1.1rem, 700);
  letter-spacing: 0.143rem;
  text-transform: uppercase;
  color: #fff;
  background-color: $accent-color;
  cursor: pointer;
  @extend %transition;

  &:hover,
  &:focus {
    background-color: #d35526;
  ;
  }
}
