.container {
  max-width: 138rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;

  @include for-size(tablet) {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  @include for-size(desktop) {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @include for-size(large-desktop) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
