.container {
  max-width: 32rem;
  padding: 0 2rem;
  margin: 0 auto;
  @include for-size(tablet) {
    max-width: 76.8rem;
    padding: 0 4rem;
  }

  @include for-size(desktop) {
    max-width: 128rem;
    padding: 0 3.5rem;
  }

  @include for-size(large-desktop) {
    max-width: 138rem;
    padding: 0 2rem;
  }
}
