.main-form__description--color {
  color: $primary-white;
  margin-bottom: 1.5rem;
}
.logo__name-site--color {
  color: $primary-white;
}
.logo__slogan--color {
  color: $primary-white;
}
.footer__social-link--margin {
  margin-left: 2rem;
}
