body.lock {
  overflow: hidden;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.94);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 3;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: all 0.8s ease 0s;
}
.popup__content {
  background-color: transparent;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  @media (max-width: 20em) {
    padding-left: 0;
    padding-right: 0;
  }
}
.popup__content_image {
  padding: 0;
}
.certificate-modal__img {
  max-width: 100%;
  vertical-align: top;
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;

  @media (max-width: 20em) {
    top: 0;
  }
}

.close__icon {
  height: 25px;
  width: 25px;
  fill: #5b5b5f;
  transition: fill 0.2s ease;

  &:hover {
    fill: $accent-color;
  }
}
