.main-slider {
  padding-top: 3.6rem;
  padding-bottom: 12rem;

  .program-section__title {
    color: $h2-text;
    margin-bottom: 2rem;
  }
}
.wrap-sliders{
  position: relative;
}

.slider {
  margin: 0 auto;
  max-width: 95%;
  box-shadow: 4px 7px 35px 11px rgba(29, 29, 27, 0.09);
  color: #1a1915;
  position: relative;
  text-align: center;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  padding-top: 2.2rem;
  padding-bottom: 3.2rem;
  margin-bottom: 2rem;

  &:focus {
    outline: none;
  }

}


.slider__photo {
  margin: 0 auto;
  border-radius: 50%;
}

.slider__item {
  display: flex;
  flex-wrap: wrap;
}

.slider__link {
  width: 2.5rem;
  height: 1.4rem;
  @extend %transition;

  &:hover {
    transform: scale(1.2);
  }
}

.slider__main-photo {
  flex-basis: 30%;
  width: 100%;
}

.slider__description {
  flex-basis: 70%;
  width: 100%;
}

.slick-arrow {
  border: none;
  outline: none;
  font-size: 0;
  width: 2.2rem;
  height: 0.2rem;
  background-color: #ff6b08;
  position: absolute;
  bottom: 6%;
  border-radius: 0.1rem;
  cursor: pointer;
  @extend %transition;

}
.body-arrow{
  height: 25px;
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.slick-prev {
  left: 10%;
  transform: translate(-50%);

  &::before {
    content: "";
    position: absolute;
    left: -0.1rem;
    top: -0.2rem;
    width: 1rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    transform: rotate(-32deg);
    background-color: #ff6b08;
  }

  &::after {
    content: "";
    position: absolute;
    left: -0.1rem;
    top: 0.2rem;
    width: 1rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    transform: rotate(23deg);
    background-color: #ff6b08;
  }

  &:hover {
    transform: translate(-50%) scale(1.2);
  }
}



.slick-next {
  right: 10%;
  transform: translate(50%);

  &::before {
    content: "";
    position: absolute;
    right: -0.1rem;
    top: -0.2rem;
    width: 1rem;
    height: 0.2rem;
    transform: rotate(23deg);
    border-radius: 0.1rem;
    background-color: #ff6b08;

  }

  &::after {
    content: "";
    position: absolute;
    right: -0.1rem;
    top: 0.2rem;
    width: 1rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    transform: rotate(-32deg);
    background-color: #ff6b08;
  }

  &:hover {
    transform: translate(50%) scale(1.2);
  }

}


.slick-dots {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
  bottom: -19%;
}

.slider__study {
  color: $accent-color;
  @include font(3rem, 1.3rem, 900);
  margin-bottom: 1rem;

}

.slider__education {
  margin-bottom: 2rem;
  @include font(1.6rem, 1.1rem, 600);
  color: $additional-text;

}

.text {
  @include font(2rem, 1.1rem, 600);
  color: $main-text;

}

.slider__link-more {
  color: $accent-color;
  text-decoration: underline;
  background: none;
  outline: none;
}

.more,
.less {
  color: $accent-color;
  text-decoration: underline;
  background: none;
  outline: none;
}

.slider__link {
  background: url("../images/icons/vk.svg");
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto;

  &:focus {
    outline: none;
  }
}

.slider__wrap-photo {
  margin-bottom: 2rem;
}

.slick-dots button {
  font-size: 0;
  @extend %transition;
  background-clip: padding-box;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.2);
  }

}

.slick-active button {
  border: 2px solid $accent-color;
}

.ep{
  background-image: url("../images/slider/ep.jpg");

}

.dp {
  background-image: url("../images/slider/dp.jpg");
}

.sp{
  background-image: url("../images/slider/sp.jpg");
}



.ap {
  background-image: url("../images/slider/ap.jpg");

}

.mp{
  background-image: url("../images/slider/mp.jpg");

}

.evp{
  background-image: url("../images/slider/evp.jpg");

}

.yp {
  background-image: url("../images/slider/yp.jpg");

}
.ip {
  background-image: url("../images/slider/ip.jpg");

}

@include for-size(tablet) {
  .main-slider {
    padding-top: 4rem;

    .program-section__title {
      text-align: center;

    }
  }

  .slider {
    padding-left: 3.6rem;
    padding-right: 3.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
  }

  .slick-dots li:nth-child(n+4) {
    display: inline-block;
  }

  .wrap-body-slider {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }

  .slider__study {
    @include font(3rem, 1.8rem, 900);
    margin-bottom: 1rem;

  }

  .slider__education {
    margin-bottom: 2rem;
    @include font(1.6rem, 1.3rem, 500);

  }

  .text {
    @include font(2rem, 1.1rem, 600);
  }

  .slider__main-photo {
    flex-basis: 25%;
    padding-top: 2.2rem;
  }

  .slider__description {
    flex-basis: 75%;

  }

  .slider__wrap-photo {
    margin-bottom: 1rem;
  }

  .slick-arrow {
    top: 44%;

  }

  .slick-dots {
    bottom: -26%;
  }

  .slick-prev {
    left: -1%;
  }

  .slick-next {
    right: -1%;

  }

}

@include for-size(desktop) {
  .main-slider {
    padding-top: 6rem;
    padding-bottom: 17rem;

    .program-section__title {
      margin-bottom: 3.7rem;
    }
  }

  .slider {
    padding-left: 8.6rem;
    padding-right: 8.6rem;
    padding-top: 4.6rem;
    padding-bottom: 4.6rem;
    max-width: 88%;
  }

  .slider__study {
    @include font(3rem, 2.5rem, 900);

  }

  .slider__education {
    width: 62%;
  }

  .text {
    @include font(2.9rem, 1.7rem, 500);
  }

  .slick-prev {
    left: 2%;
  }

  .slick-next {
    right: 2%;

  }

  .slick-dots {
    width: 54%;
  }



}

.slider-nav__item{
  width: 4.5rem;
  height: 4.5rem;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 1.5rem;
  border-radius: 50%;
  border: 2px solid transparent;
  background-clip: content-box;
}
.slick-dots{
  display: none;
  visibility: hidden;
}
.slider-nav{
  margin: 0 auto;
  width: 22rem;
  .slick-current .slider-nav__item{
    border: 2px solid $accent-color;
  }
  @include for-size(tablet){
    width: 60rem;
  }

}
.slider-nav div:focus{
  outline: none;
}

